version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: user-data-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: user-data-api
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: user-data-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

volumes:
  mongodb_data:
  redis_data:

networks:
  app-network:
    driver: bridge

